@font-face {
    font-family: Averta;
    src: url(../Fonts/AvertaDemoPE-Regular.ttf) format('truetype');
}
@font-face {
    font-family: BebasNeue-Bold;
    src: url(../Fonts/BebasNeue-Bold.ttf) format('truetype');
}
@font-face {
    font-family: BebasNeue-Book;
    src: url(../Fonts/BebasNeue-Book.ttf) format('truetype');
}
::-webkit-scrollbar {
    display: none;
}
body{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    scroll-behavior: smooth;
    overflow-x: hidden;
    max-width: 100%;
}
.flex {
    display: flex;
    gap: var(--gap);
}
#home-1{
    height: 1080px;
    width: 100%;
}

.nav{
    padding-top: 25px;
    margin: 0;
}
.nav ul{
    list-style: none;
    align-items: center;
}
.nav .left-nav{
    padding-left: 60px;
}
.nav .left-nav a{
    text-decoration: none;
    color: black;
    font-size: 18px;
    font-family: Averta;
}
.nav .company-logo{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
.nav .company-logo img{
    max-height: 50px;
}
.nav .language-logo{
    position: absolute;
    right: 5%;
}
.nav .language-logo img{
    max-height: 25px;
}

.home-text{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50% , -40%);
    list-style: none;
    text-align: center;
    width: 96%;
}
.home-text .home-text-1{
    position: relative;
    left: 12%;
    align-items: center;
}
.home-text .home-text-1 .home-text-1-1{
    font-family: 'Segoe UI';
    font-size: 150px;
}
.home-text .home-text-1 .home-text-1-2{
    font-family: Averta;
    font-size: 150px;
}
.home-text .home-text-1 .home-text-1-3{
    font-family: Averta;
    font-size: 90px;
}

.home-text .home-text-2{
    position: relative;
    top: -35px;
    left: 10%;
    align-items: center;
}
.home-text .home-text-2 .home-text-2-1{
    font-family: BebasNeue-Book;
    font-size: 90px;
    letter-spacing: 20px;
}
.home-text .home-text-2 .home-text-2-2{
    font-family: BebasNeue-Bold;
    font-size: 90px;
    padding-left: 20px;
    letter-spacing: 20px;
}

.home-text .home-text-3{
    position: relative;    
    top: -50px;
    left: 30%;
    align-items: center;
}
.home-text .home-text-3 .home-text-3-1{
    font-family: Averta;
    font-size: 60px;
}
.home-text .home-text-3 .home-text-3-2{
    font-family: Averta;
    font-size: 60px;
    padding-left: 10px;
    text-decoration: solid underline black 4px;
    text-underline-offset: 8px;
}
.home-text .home-text-3 .home-text-3-3{
    font-family: Averta;
    font-size: 60px;
}
.home-button{
    justify-content: center;
}
.home-button span{
    margin-right: 35px;
}
.home-button-1{
    background-color: #212B36;
    padding: 15px 25px;
}
.home-button-1 a{
    font-weight: bold;
    font-size: 15px;
    font-family: Averta;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
.home-button-2{
    background-color: #212B36;
    padding: 15px 25px;
}
.home-button-2 a {
    font-weight: bold;
    font-size: 15px;
    font-family: Averta;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}


#home-2 {
    height: 700px;
    width: 100%;
}
.about-section{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    height: 590px;
    width: 96%;
    border: solid black 1px;
}
.about-section .about-header{
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    width: 90%;
    list-style: none;
    text-align: right;
    flex-direction: column;
    z-index: 1;
    
}
.about-section .about-header .about-header-1{
    font-family: Averta;
    text-transform: uppercase;
    font-size: 80px;
    margin-top: 50px;
}
.about-section .about-header .about-header-2{
    margin-top: -40px;
    font-family: Averta;
    text-transform: uppercase;
    font-size: 80px;
}
.about-section .about-para{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 90%;
}
.about-section .about-para .about-para-1{
    float: left;
    text-align: left;
    width: 60%;
    font-family: 'Segoe UI';
    font-size: 25px;
}
.about-section .about-para .about-para-2{
    float: right;
    width: 60%;
    font-family: 'Segoe UI';
    font-size: 25px;
    text-align: right;
}


#home3 {
    height: 700px;
    width: 100%;
}
.vision-back{
    background-image: url('../Assets/vimg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    width: 100%;
}
.vision-back-op{
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 60%;
}
.vision-text{
    position: relative;
    height: 90%;
    width: 90%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: left;
}
.vision-text span{
    position: absolute;
    font-size: 35px;
    color: white;
    font-family: Averta;
    margin-top: 5%;
    text-transform: uppercase;
}
.vision-text p{
    position: absolute;
    text-align: center;
    font-size: 30px;
    color: white;
    font-family: Averta;
    top: 50%;
    transform: translateY(-50%);
}


#home4 {
    padding-top: 3%;
    height: 850px;
    width: 100%;
}
.box-new-arrival {
    padding: 20px;
    height: 400px;
}
.nav-new-arrival{
    width: 100%;
    text-align: center;
}
.new-arrival{
    font-family: averta;
    font-size: 25px;
    text-transform: uppercase;
}

.box-best-seller {
    padding: 20px;
    height: 400px;
}
.nav-best-seller {
    width: 100%;
    text-align: center;
}
.best-seller {
    font-family: averta;
    font-size: 25px;
    text-transform: uppercase;
}

.swiper{
    position: relative;
    top: 20%;
    left: 50%;
    transform: translate(-50% , -20%);
    height: 325px;
}
.swiper-slide {
    position: absolute;
    display: flex;
}
.swiper-slide img {
    width: 100%;
    height: 290px;
    border: solid black 0.5px;
}


.end-information{
    background-color: #DCDCDC;
    height: 200px;
    width: 100%;
}
.end-information-holder{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 75%;
    width: 90%;
}

.end-information .legal h1{
    font-size: 30px;
    font-family: Averta;
    text-transform: uppercase;
    color: rgb(124, 124, 124);
}
.end-information .legal a {
    font-size: 12px;
    font-family: Averta;
    text-transform: uppercase;
    color: black;
}

.end-information .contactus{
    position: absolute;
    right: 0;
    width: 200px;
    text-align: right;
}
.end-information .contactus h1{
    font-size: 20px;
    font-family: Averta;
    text-transform: uppercase;
    color: rgb(124, 124, 124);
}
.end-information .contactus p{
    text-align: right;
    font-size: 12px;
    font-family: Averta;
    text-transform: uppercase;
    color: rgb(54, 54, 54);
}

footer{
    text-align: center;
    background-color: black;
    color: white;
    padding: 5px;  
    font-family: Averta;
    font-size: 15px;
}